<% content_for :page_title, "Edit milestone" %>
<% content_for :page_subtitle, "Update delivery commitments." %>

<div class="panel p-6 max-w-2xl">
  <%= render "form", delivery_milestone: @delivery_milestone %>
</div>
