<div class="page-header">
  <div>
    <h1>New milestone</h1>
    <p class="subtle"><%= @contract.contract_code %> • <%= @contract.program.name %></p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= render "form", delivery_milestone: @delivery_milestone %>
  </div>
</div>
