<% content_for :page_title, "Add milestone" %>
<% content_for :page_subtitle, "Set contractual commitments for this contract." %>

<div class="panel p-6 max-w-2xl">
  <%= render "form", delivery_milestone: @delivery_milestone %>
</div>
