<% content_for :page_title, "Edit contract" %>
<% content_for :page_subtitle, "Update contract details and pricing." %>

<div class="panel p-6 max-w-3xl">
  <%= render "form", contract: @contract %>
</div>
