<% content_for :page_title, "Edit program" %>
<% content_for :page_subtitle, "Update the program details and stakeholders." %>

<div class="panel p-6 max-w-2xl">
  <%= render "form", program: @program %>
</div>
