<% content_for :page_title, "New program" %>
<% content_for :page_subtitle, "Set up a new delivery program workspace." %>

<div class="panel p-6 max-w-2xl">
  <%= render "form", program: @program %>
</div>
