<% content_for :page_title, "Edit delivered unit" %>
<% content_for :page_subtitle, "Update the shipment record." %>

<div class="panel p-6 max-w-2xl">
  <%= render "form", delivery_unit: @delivery_unit %>
</div>
