<% content_for :page_title, "Add delivered unit" %>
<% content_for :page_subtitle, "Record a shipped unit for this contract." %>

<div class="panel p-6 max-w-2xl">
  <%= render "form", delivery_unit: @delivery_unit %>
</div>
