<% content_for :page_title, "Edit period" %>
<% content_for :page_subtitle, "Update delivered units and costs." %>

<div class="panel p-6 max-w-3xl">
  <%= render "form", period: @contract_period %>
</div>
