<% content_for :page_title, "Add period" %>
<% content_for :page_subtitle, "Capture weekly or monthly actuals." %>

<div class="panel p-6 max-w-3xl">
  <%= render "form", period: @contract_period %>
</div>
