name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  scan_ruby:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for common Rails security vulnerabilities using static analysis
        run: bin/brakeman --no-pager

  scan_js:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for security vulnerabilities in JavaScript dependencies
        run: bin/importmap audit

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Lint code for consistent style
        run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test
      FERRUM_BROWSER_PATH: /opt/google/chrome/chrome
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Install Chrome for Cuprite
        uses: browser-actions/setup-chrome@v2
        with:
          install-dependencies: true
          install-chromedriver: true

      - name: Prepare test database
        run: bin/rails db:prepare

      - name: Build Tailwind
        run: bin/rails tailwindcss:build

      - name: Run non-JS specs
        run: bundle exec rspec

      - name: Run JS specs
        run: bundle exec rspec --options .rspec.ci --tag js

      - name: Capture UI screenshots
        run: bin/ui-screenshots

      - name: Run bundler-audit
        run: bundle exec bundler-audit check --update || bundle exec bundler-audit check
